.dropArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  border-radius: 15px;
  border: 1px dashed #999999;
  border-radius: 15px;
}

.dragArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  border-radius: 15px;
  border: 1px dashed #bfbfbf;
  border-radius: 15px;
  cursor: pointer;
}

.dragAreaText {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.35;
  color: #bfbfbf;
}

.dropAreaText {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.35;
  color: #999999;
}

.inputTitle {
  font-size: 18px;
  line-height: 1.35;
  padding-bottom: 4px;
  border-bottom: #e5e5e5 1px solid;
}

.inputTitle:focus-visible {
  border-bottom: #e6854e 1px solid;
  outline: none;
}

.inputTitle::placeholder {
  color: #a6a6a6;
}

.propsBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.inputText {
  min-height: 100px;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.inputText:focus-visible {
  outline: none;
}

.inputText::placeholder {
  color: #a6a6a6;
}

.inputImage {
  cursor: pointer;
}

.imageDelete {
  position: absolute;
  top: 6px;
  right: 6px;
}

.buttonAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background: #e6854e;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.buttonAdd:disabled {
  color: #808080;
  background: #f2f2f2;
  cursor: default;
}
